[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/RCP-Host"]
	path = libs/RCP-Host
	url = https://github.com/liquid-rocketry-illinois/RCP-Host.git
