exeicon ICON "LRI_Logo.ico"
font-bold.ttf EMBEDDEDDATA "font-bold.ttf"
font-regular.ttf EMBEDDEDDATA "font-regular.ttf"
font-italic.ttf EMBEDDEDDATA "font-italic.ttf"
logo.png EMBEDDEDDATA "LRI_Logo.png"
logobig.png EMBEDDEDDATA "LRI_Logo_big.png"