exeicon ICON "LRI_Logo.ico"
font_bold.ttf EMBEDDEDDATA "font_bold.ttf"
font_regular.ttf EMBEDDEDDATA "font_regular.ttf"
font_italic.ttf EMBEDDEDDATA "font_italic.ttf"
LRI_Logo.png EMBEDDEDDATA "LRI_Logo.png"
LRI_Logo_big.png EMBEDDEDDATA "LRI_Logo_big.png"